# pandas

This workshop's goal&mdash;which is facilitated by this Jupyter notebook&mdash;is to give attendees the confidence to use `pandas` in their research projects. Basic familiarity with Python _is_ assumed.

`pandas` is designed to make it easier to work with structured data. Most of the analyses you might perform will likely involve using tabular data, e.g., from .csv files or relational databases (e.g., SQL). The `DataFrame` object in `pandas` is "a two-dimensional tabular, column-oriented data structure with both row and column labels."

If you're curious:

>The `pandas` name itself is derived from _panel data_, an econometrics term for multidimensional structured data sets, and _Python data analysis_ itself.

To motivate this workshop, we'll work with example data and go through the various steps you might need to prepare data for analysis. You'll (hopefully) realize that doing this type of work is much more difficult using Python's built-in data structures.

The data used in these examples is available in the following [GitHub repository](#null). If you've [cloned that repo](https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-clone), which is the recommended approach, you'll have everything you need to run this notebook. Otherwise, you can download the data file(s) from the above link. (Note: this notebook assumes that the data files are in a directory named `data/` found within your current working directory.)

Data source: http://www.bea.gov/regional/downloadzip.cfm.

For this example, we're working with economic data from the U.S. Bureau of Economic Analysis. We're using gross domestic product (GDP) information as well as state population data.

Let's begin by loading the `pandas`, using the conventional abbreviation.

In [1]:
import pandas as pd

The `read_csv()` function in `pandas` allows us to easily import our data. It assumes the data is comma-delimited. There are several parameters that you can specify. See the documentation [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). `read_csv()` returns a `DataFrame`.

Notice that we call `read_csv()` using the `pd` abbreviation from the import statement above.

In [2]:
df = pd.read_csv('data/qgsp0814_real.csv')

Great! You've created a `pandas` `DataFrame`. We can look at our data by using the `.head()` method. By default, this shows the header (column names) and the first five rows. Passing an integer into `.head()` returns that number of rows. To see the last $n$ rows, use `.tail()`.

In [3]:
df.head()

,"Real GDP by State, 2005:I-2013:IV, [Millions of chained (2009) dollars, seasonally adjusted at annual rates]",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,FIPS,Area,Industry,2005:I,2005:II,2005:III,2005:IV,2006:I,2006:II,2006:III,...,2011:III,2011:IV,2012:I,2012:II,2012:III,2012:IV,2013:I,2013:II,2013:III,2013:IV
1,00000,United States,All industries/1/,14083023,14188484,14286787,14349009,14546029,14601774,14609928,...,14877167,15053229,15174871,15203975,15298489,15306289,15348391,15443571,15602550,15712348
2,00000,United States,Private industries,12188072,12292746,12385907,12441932,12640612,12692204,12692388,...,12907699,13083523,13201952,13237233,13328399,13339042,13388137,13488607,13653317,13772446
3,00000,United States,"Agriculture, forestry, fishing, and hunting",123803,128144,128994,127616,127057,143233,133580,...,130854,141086,140826,142631,132678,123985,153250,156192,161128,158228
4,00000,United States,Mining,220520,221762,206832,204008,232828,228695,234379,...,306652,325189,329892,340590,347412,355230,340626,349583,349748,358420

Oops! The column names don't look right. It looks as if the first line in the .csv file was a description of the file ("Real GDP by..."). The `read_csv()` function allows us to skip rows. We can modify the code to the following.

In [4]:
df = pd.read_csv('data/qgsp0814_real.csv', skiprows=1)

In [5]:
df.head(2)

,FIPS,Area,Industry,2005:I,2005:II,2005:III,2005:IV,2006:I,2006:II,2006:III,...,2011:III,2011:IV,2012:I,2012:II,2012:III,2012:IV,2013:I,2013:II,2013:III,2013:IV
0,0,United States,All industries/1/,14083023,14188484,14286787,14349009,14546029,14601774,14609928,...,14877167,15053229,15174871,15203975,15298489,15306289,15348391,15443571,15602550,15712348
1,0,United States,Private industries,12188072,12292746,12385907,12441932,12640612,12692204,12692388,...,12907699,13083523,13201952,13237233,13328399,13339042,13388137,13488607,13653317,13772446

That looks a lot better. But, what's the deal with the elipses in the middle of the `DataFrame`? By default, `pandas` only shows 20 columns. We can modify that using:

In [6]:
pd.set_option('display.max_columns', 100)

In [7]:
df.head(2)

,FIPS,Area,Industry,2005:I,2005:II,2005:III,2005:IV,2006:I,2006:II,2006:III,2006:IV,2007:I,2007:II,2007:III,2007:IV,2008:I,2008:II,2008:III,2008:IV,2009:I,2009:II,2009:III,2009:IV,2010:I,2010:II,2010:III,2010:IV,2011:I,2011:II,2011:III,2011:IV,2012:I,2012:II,2012:III,2012:IV,2013:I,2013:II,2013:III,2013:IV
0,0,United States,All industries/1/,14083023,14188484,14286787,14349009,14546029,14601774,14609928,14692595,14708041,14795704,14877593,14917127,14818442,14865491,14774255,14457601,14278748,14271349,14325454,14436472,14466920,14596054,14701253,14794766,14726325,14818623,14877167,15053229,15174871,15203975,15298489,15306289,15348391,15443571,15602550,15712348
1,0,United States,Private industries,12188072,12292746,12385907,12441932,12640612,12692204,12692388,12769412,12783570,12867010,12942992,12972091,12862615,12901463,12798113,12489118,12313567,12294990,12347231,12452959,12478136,12602393,12715749,12813667,12748964,12843500,12907699,13083523,13201952,13237233,13328399,13339042,13388137,13488607,13653317,13772446

Now, we can see the entire data set.

Perhaps the first thing we might want to do, before looking at the actual data, is to modify the column names. The column names shown are what was in the .csv file. We can access the column names by using the `.columns` attribute.

In [8]:
df.columns

Index([u'FIPS', u'Area', u'Industry', u'2005:I', u'2005:II', u'2005:III',
       u'2005:IV', u'2006:I', u'2006:II', u'2006:III', u'2006:IV', u'2007:I',
       u'2007:II', u'2007:III', u'2007:IV', u'2008:I', u'2008:II', u'2008:III',
       u'2008:IV', u'2009:I', u'2009:II', u'2009:III', u'2009:IV', u'2010:I',
       u'2010:II', u'2010:III', u'2010:IV', u'2011:I', u'2011:II', u'2011:III',
       u'2011:IV', u'2012:I', u'2012:II', u'2012:III', u'2012:IV', u'2013:I',
       u'2013:II', u'2013:III', u'2013:IV'],
      dtype='object')

This returns a list-like object. Let's go ahead and make the column names lower case.

In [9]:
df.columns = [c.lower() for c in df.columns]

In [10]:
df.head(2)

,fips,area,industry,2005:i,2005:ii,2005:iii,2005:iv,2006:i,2006:ii,2006:iii,2006:iv,2007:i,2007:ii,2007:iii,2007:iv,2008:i,2008:ii,2008:iii,2008:iv,2009:i,2009:ii,2009:iii,2009:iv,2010:i,2010:ii,2010:iii,2010:iv,2011:i,2011:ii,2011:iii,2011:iv,2012:i,2012:ii,2012:iii,2012:iv,2013:i,2013:ii,2013:iii,2013:iv
0,0,United States,All industries/1/,14083023,14188484,14286787,14349009,14546029,14601774,14609928,14692595,14708041,14795704,14877593,14917127,14818442,14865491,14774255,14457601,14278748,14271349,14325454,14436472,14466920,14596054,14701253,14794766,14726325,14818623,14877167,15053229,15174871,15203975,15298489,15306289,15348391,15443571,15602550,15712348
1,0,United States,Private industries,12188072,12292746,12385907,12441932,12640612,12692204,12692388,12769412,12783570,12867010,12942992,12972091,12862615,12901463,12798113,12489118,12313567,12294990,12347231,12452959,12478136,12602393,12715749,12813667,12748964,12843500,12907699,13083523,13201952,13237233,13328399,13339042,13388137,13488607,13653317,13772446

Now, let's start looking at the data. Since our analysis will be at the state level, we might want to check whether or not there is data for all states. Before we do this, we need to know how to select a single column. We can either use bracket (`[]`) or dot notation.

In [11]:
df['area'].head()

0    United States
1    United States
2    United States
3    United States
4    United States
Name: area, dtype: object

In [12]:
df.area.head()

0    United States
1    United States
2    United States
3    United States
4    United States
Name: area, dtype: object

It is preferrable to use the bracket notation as a column name might inadvertently have the same name as a `DataFrame` method.

When selecting a single column in this way, what we have is a `pandas` `Series` object, which is "a one-dimensionalarray-like object containing an array of data (of any `NumPy` data type) and an associated array of data labels, called its _index_."

Now that we've selected the column, let's look at the unique values.

In [13]:
df['area'].unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

That looks about right. We can use the `len()` function to check how many elements are in the array. Because it includes both the United States and the District of Columbia, we should expect 52 elements.

In [14]:
len(df['area'].unique())

52

Above, you may have noticed the `DataFrame` also includes an **industry** column. Let's find out what values that takes.

In [15]:
df['industry'].unique()

array(['All industries/1/', 'Private industries',
       'Agriculture, forestry, fishing, and hunting', 'Mining',
       'Utilities', 'Construction', 'Manufacturing', 'Durable goods',
       'Nondurable goods', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing', 'Information',
       'Finance and insurance', 'Real estate and rental and leasing',
       'Professional, scientific, and technical services',
       'Management of companies and enterprises',
       'Administrative and waste management services',
       'Educational services', 'Health care and social assistance',
       'Arts, entertainment, and recreation',
       'Accommodation and food services',
       'Other services, except government', 'Government'], dtype=object)

Our data set has GDP information for various industries. For our purposes, we want the aggregate, state-level values.

That brings us to our next task. We want to only keep the rows that correspond to all industries.

In [16]:
df_all_ind = df[df['industry'] == 'All industries/1/']

In [17]:
df_all_ind.head()

,fips,area,industry,2005:i,2005:ii,2005:iii,2005:iv,2006:i,2006:ii,2006:iii,2006:iv,2007:i,2007:ii,2007:iii,2007:iv,2008:i,2008:ii,2008:iii,2008:iv,2009:i,2009:ii,2009:iii,2009:iv,2010:i,2010:ii,2010:iii,2010:iv,2011:i,2011:ii,2011:iii,2011:iv,2012:i,2012:ii,2012:iii,2012:iv,2013:i,2013:ii,2013:iii,2013:iv
0,0,United States,All industries/1/,14083023,14188484,14286787,14349009,14546029,14601774,14609928,14692595,14708041,14795704,14877593,14917127,14818442,14865491,14774255,14457601,14278748,14271349,14325454,14436472,14466920,14596054,14701253,14794766,14726325,14818623,14877167,15053229,15174871,15203975,15298489,15306289,15348391,15443571,15602550,15712348
24,1000,Alabama,All industries/1/,170747,173103,173020,174535,174600,175533,175613,175446,173924,174767,176128,176267,175813,177013,175939,171382,168617,168865,169579,169146,170270,172375,174796,174553,172876,174248,175292,178219,179182,180256,178467,179345,179165,180175,181623,181946
48,2000,Alaska,All industries/1/,40906,41406,41171,41564,42597,43648,44159,45331,45722,46555,46301,45765,45211,44225,46121,49507,51325,50405,49241,48845,47963,48915,49448,49768,49025,50710,51474,53192,52500,53265,53102,52613,51741,51109,51516,51803
72,4000,Arizona,All industries/1/,242719,248243,254049,255762,261330,262566,266698,270547,270012,272906,275728,272531,272209,268520,264337,254225,247197,242214,240907,243004,241128,244096,246486,248419,247766,248901,251289,257891,257416,259851,259326,259578,258527,261490,262811,264868
96,5000,Arkansas,All industries/1/,101047,102011,102454,104301,105233,107428,106899,105579,103448,104863,105929,112930,108087,110631,109134,107160,108393,103881,104886,106202,106772,110729,111547,111211,110549,111568,112132,113068,113034,113581,113210,112401,114578,115296,116127,116981

So, what just happened? Let's examine the right side of the equation, staring with what's inside the square brackets.

In [18]:
df['industry'] == 'All industries/1/'

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24       True
25      False
26      False
27      False
28      False
29      False
        ...
1218    False
1219    False
1220    False
1221    False
1222    False
1223    False
1224     True
1225    False
1226    False
1227    False
1228    False
1229    False
1230    False
1231    False
1232    False
1233    False
1234    False
1235    False
1236    False
1237    False
1238    False
1239    False
1240    False
1241    False
1242    False
1243    False
1244    False
1245    False
1246    False
1247    False
Name: industry, dtype: bool

This returns a `Series` of boolean values for each row in **industry**,